<p>
    <font size="7">Angular</font>
    <h3><router-outlet></router-outlet></h3>
    <br>Angular (commonly referred to as "Angular 2+" or "Angular v2 and above")[4][5] is a TypeScript-based free and
    open-source web application framework led by the Angular Team at Google and by a community of individuals and
    corporations. Angular is a complete rewrite from the same team that built AngularJS.
    Angular is used as the frontend of the MEAN stack, consisting of MongoDB database, Express.js web application server
    framework, Angular itself (or AngularJS), and Node.js server runtime environment.
</p>